@import '../../styles/Pokedex.scss';

.link {
  text-decoration: none;
  .container_card {
    padding-top: 10px;
    margin: 10px;
    background-color: $white;
    border: none;
    display: flex;
    align-items: center;
    width: 85%;
    @include tablet {
      width: 250px;
    }
    flex-direction: column;
    border-radius: 16px;
    box-shadow: $shadow;
    .name {
      p {
        margin: 0;
        padding: 0;
        color: $text;
        font-weight: 700;
        font-size: 20px;
        text-transform: capitalize;
      }
    }
    .id {
      p {
        margin: 0;
        padding: 10px 0px 0px 0px;
        font-size: 20px;
        color: $text;
        opacity: 0.6;
      }
    }
    .img {
      text-align: center;
      img {
        width: 60%;
      }
    }
    .type {
      p {
        font-size: 12px;
        span {
          border-radius: 15px;
          color: $white;
          padding: 2px 7px 2px 7px;
          margin: 5px;

          &.green {
            background-color: rgb(39, 139, 39);
          }
          &.purple {
            background-color: rgb(124, 54, 124);
          }
          &.orange {
            background-color: orange;
          }
          &.sky {
            background-color: rgb(132, 234, 241);
          }
          &.blue {
            background-color: rgb(52, 52, 163);
          }
          &.bug {
            background-color: rgb(19, 92, 19);
          }
          &.gray {
            background-color: grey;
          }
          &.yellow {
            background-color: yellow;
            color: #000;
          }
          &.rock {
            background-color: rgb(138, 138, 48);
          }
          &.default {
            background-color: thistle;
          }
        }
      }
    }
  }
}
