@import '../../styles/Pokedex.scss';

.layout{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 0% 100%;

    @include tablet{
        grid-template-columns: 20% 80%;
    }

    .left{
        height: 100vh;
        background-color: $blue;
    }
    .right{
        max-height: 100vh;
        overflow: auto;
        background: linear-gradient(#f2f4ff, #fbfcff);
    }
}