@import '../../styles/Pokedex.scss';

.container_header{   
    background-color: transparent;
    width: 100%;

    .container_nav{
        padding: 0px 25px 0px 25px;
        position: fixed;
        background-color: $blue;
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        @include tablet{
            display: none;
        }
        .hamburger_icon{
            margin-right: auto;
        }
        .logo{
            margin-right: auto;
            margin-left: -80px;
        }
    }

    .container_form{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 70px;
        input{
            width: 250px;
            border-radius: 20px;
            border: none;
            height: 30px;
            box-shadow: $shadow;
            padding-left: 10px;
            &:focus{
                outline: none;
            }
        }
        button{
            width: 50px;
            height: 33px;
            background-color: $blue;
            border-radius: 20px;
            border:none;
            margin-left: -40px;
            margin-top: -1px;
            outline: none;
            cursor: pointer;
        }
    }
    @include tablet{
        .container_form{
            width: 300px;
            margin-left: auto;
            margin-right: 20px;
            display: flex;
            align-items: center;
            input{
                width: 250px;
                border-radius: 20px;
                border: none;
                height: 30px;
                box-shadow: $shadow;
                padding-left: 10px;
                &:focus{
                    outline: none;
                }
            }
            button{
                width: 50px;
                height: 33px;
                background-color: $blue;
                border-radius: 20px;
                border:none;
                margin-left: -40px;
                margin-top: -1px;
                outline: none;
                cursor: pointer;
            }
        }
    }
}