@import '../../styles/Pokedex.scss';

.container_img{
    padding: 30px 10px 30px 10px;
    margin-top: 30px;
    margin-left: auto ;
    margin-right: auto;
    background-color:$white;
    border:none;
    display: flex;
    align-items: center;
    width: 250px;
    height: 200px;
    @include tablet{
        width: 200px;
        height: 200px;
        margin-right: 10px;
        margin-left: auto;
    }
    flex-direction: column;
    border-radius: 16px;
    box-shadow: $shadow;
    .principal_img{
        display: flex;
        width: 200px;
        height: 200px;
        justify-content: center;
    }
    .secundary_img{
        display: flex;
        width: 100%;
        justify-content: center;
        img{
            margin: 20px;
        }
    }
 }